*{
  padding: 0;
  margin: 0;
}
.hero {
  width: 100%;
  height: 100vh;
  background: red; 
}

canvas {
  display: block;
}
.hero-content {
  position: absolute;
  left: 2%;
  top: 80%;
  transform: translateY(-50%);
  width: 350px;
  padding: 2rem;
  border: 2px solid transparent;
  border-radius: 12px;
  color: white;
  font-family: 'Cinzel', serif; 
  text-align: left;
  z-index: 2;


}

.hero-content h3 {
  font-size: 2rem;
  margin-bottom: 2rem;
  color: #A56231;
}

.hero-content p {
  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: 2.2rem;
  color: #ddd;
}

.hero-buttons {
  display: flex;
  gap: 1rem;
}

.hero-buttons button {
  position: relative;
  z-index: 0;
  flex: 1;
  padding: 0.7rem 1.2rem;
  font-size: 1rem;
  font-family: 'Cinzel', serif;
  border-radius: 8px;
  cursor: pointer;
  color: white;
background: transparent;
  overflow: hidden;
}



.hero-buttons button:hover {
  background: linear-gradient(90deg, #A56231, #FFD700);
  color: black;
}

@keyframes borderGlow {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.hero-right {
  position: absolute;
  top: 80%;
  right: 1%;
  transform: translateY(-50%);
  color: white;
  max-width: 350px;
  text-align: left;
  z-index: 2;
}

.hero-right p {
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 1.5rem;
  color: #ddd;
}

.hero-right button {
  padding: 0.8rem 1.8rem;
  font-size: 1rem;
  background: linear-gradient(90deg, #a56231, #d7a574);
  border: none;
  border-radius: 30px;
  color: white;
  cursor: pointer;
  font-weight: 500;
  transition: transform 0.2s ease, opacity 0.2s ease;
}

.hero-right button:hover {
  transform: translateY(-3px);
  opacity: 0.9;
}
.hero-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 2;
}

.hero-center h3 {
  font-family: 'Rowdies', sans-serif;
  font-size: 7rem;
  color: #d7a574; 
  letter-spacing: 3px;
opacity: 0.6;
font-weight: 900;
  text-transform: uppercase;
}
