.navbar {
  position: absolute;
  width: 50%;
  margin: 20px auto;
  padding: 15px 30px;
  border-radius: 30px;
  color: white;
  display: flex;
  justify-content:center;
  gap: 70px;
  align-items: center;
  overflow: hidden;
  left: 25%;
  top: 1%;
}

.nav-left a,
.nav-right a {
  margin: 0 15px;
  text-decoration: none;
  color: white;
  font-size: 16px;
  margin-right: 40px;
}
.nav-center {
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 2px;
}

.navbar::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 30px;
  padding: 2px; 
  background: linear-gradient(90deg, #A56231, transparent, #A56231);
  background-size: 300% 300%;
  animation: borderGlow 5s linear infinite;
  -webkit-mask: 
    linear-gradient(#fff 0 0) content-box, 
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude;
  pointer-events: none;
}

@keyframes borderGlow {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}
